extends ../layout

block content
    h1 Articles
    ul.list-group
      each article in articles
        li.list-group-item
          a(href='/articles/'+article.id)=article.title
    //h1 文件上传
    //form(action='/articles/upload', method='post', enctype='multipart/form-data')
    //    input#files(type='file', name='file', multiple='')
    //    input(type='submit', value='上传')