doctype html
html(lang="en")
  head
    title nodejs-blog
    link(rel='stylesheet',href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='/css/style.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-2
      .container
        a.navbar-brand(href='#') blog
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample04', aria-controls='navbarsExample04', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExample04.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/articles/new') Add Article
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
        form.form-inline.my-2.my-md-0
          input.form-control(type='text', placeholder='Search')
    .container
      if errors
        each error in errors
          div(class='alert alert-danger') #{error.msg}
      != messages('message', locals)
      block content
      br
      hr
      footer
          p right for me
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/main.js')